.player_btn {
    font-size: 2em;
    border: none;
    border-radius: 4px;
    padding: 0.3em 0.4em;
    color: #eb1478;
    background-color: #252627;
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.player_btn:hover:enabled {
    background: #424651;
}

.player_btn:disabled {
    cursor: default;
    color: #777777;
}

.active {
    background: #767676;
}

.player_btn.active:hover:enabled {
    background: #767676;
}